<div class="container">
	<div class="row">
		<h3>Details of Case Intake and Closure</h3>
		<div class="large-12 small-12 columns">
			<table class="dataTable in_content_area reports">
				<thead>
					<tr>
						<td rowspan="2">YEARS</td>
						<td colspan="3">Total cases referred</td>
						<td colspan="3">Cases that were assigned a formal ID</td>
						<td colspan="3">Formal IDs Closed (At the end of reporting period/Year)</td>
						<td colspan="2">No. of Live cases at the end of the year/reporting period</td>
					</tr>
					<tr>
						<td>New Cases referred</td>
						<td>Referral IDs carried forward from previous Year</td>
						<td>No. of Referral IDs closed before assigning a Formal ID</td>
						<td>Total</td>
						<td>Psychosocial IDs</td>
						<td>Psychosocial cum legal IDs</td>
						<td>Total</td>
						<td>Psychosocial IDs closed Only</td>
						<td>Psychosocial cum legal IDS closed</td>
						<td>Live Referral IDSs</td>
						<td>Live Formal IDs</td>
					</tr>
					<tr>
						<td>New Cases referred</td>
						<td>Referral IDs carried forward from previous Year</td>
						<td>No. of Referral IDs closed before assigning a Formal ID</td>
						<td>Total</td>
						<td>Psychosocial IDs</td>
						<td>Psychosocial cum legal IDs</td>
						<td>Total</td>
						<td>Psychosocial IDs closed Only</td>
						<td>Psychosocial cum legal IDS closed</td>
						<td>Live Referral IDSs</td>
						<td>Live Formal IDs</td>
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td>2018</td>
						<td>383</td>
						<td>0</td>
						<td>22</td>
						<td>361</td>
						<td>327</td>
						<td>34</td>
						<td>145</td>
						<td>139</td>
						<td>6</td>
						<td>0</td>
						<td>216</td>
					</tr>
					<tr>
						<td>TOTAL</td>
						<td>383</td>
						<td>0</td>
						<td>22</td>
						<td>361</td>
						<td>327</td>
						<td>34</td>
						<td>145</td>
						<td>139</td>
						<td>6</td>
						<td>0</td>
						<td>216</td>
					</tr>
				
				</tbody>	
			</table>
		</div>
	</div>
</div>
