<div class="container">
	<div class="row">
		<h3>Status as on Dec 2018</h3>
		<div class="large-12 small-12 columns">
			<table class="dataTable in_content_area reports">
				<thead>
					<tr>
							<td>All Cases</td>
							<td>Year</td>
							<td>Judgement</td>
							<td>Trial Complete</td>
							<td>Case abated due to death of the accused/Discharge/Untraced</td>
							<td>Acquittal</td>
							<td>Conviction</td>
							<td>Conviction rate</td>
					</tr>
				</thead>
				<tbody>
				<tr>
					<td>HDF</td>
					<td>2018</td>
					<td>9</td>
					<td>9</td>
					<td>0</td>
					<td>6</td>
					<td>3</td>
					<td>33%</td>
				</tr>
				</tbody>	
			</table>
		</div>
	</div>
</div>
