<div class="container">
	<div class="row">
		<h2>All Reports in HAQ</h2>
			<div class="large-12 small-12 columns">
				<table class="dataTable in_content_area reports">
					<thead>
						<tr>
							<td>Reports</td>
						</tr>
					</thead>
					<tbody>
						<tr  class="test-report">
							<td>Table 1</td>
						</tr>
						<tr>
							<td><a href="/summary_of_cases">Summary of case Intake and Closure</a></td>
						</tr>
						<tr class="test-report">
							<td>Table 3,4,5</td>
						</tr>
						<tr>
							<td><a href="/all_reports/detail_case_intake_closure">Details of Case Intake and Closure</a></td>
						</tr>
						<tr>
							<td><a href="/all_reports/trial_court_cases">Status of Cases (Legal) - Trial Court</a></td>
						</tr>
						<tr>
							<td><a href="/all_reports/overall_psychosocial_cases">Status of Cases (Psychosocial) - Overall</a></td>
						</tr>
						
						<tr class="test-report">
							<td>Table 4.1, 4.2 and 4.3</td>
						</tr>
						<tr>
							<td><a href="/all_reports/legal_cases_closed">List of legal cases closed with reasons for closure</a></td>
						</tr>
						
						<tr class="test-report">
							<td>Table 6.1, 6.2, 6.3</td>
						</tr>
						<tr>
							<td><a href="/all_reports/family_members_impact">Family members directely impacted</a></td>
						</tr>
						
						<tr class="test-report">
							<td>Table 7</td>
						</tr>
						<tr>
							<td><a href="/all_reports/high_court_iprobono">High Court iprobono</a></td>
						</tr>
						
						<tr class="test-report">
							<td>Table 8.1 and 8.2</td>
						</tr>
						<tr>
							<td><a href="/all_reports/supported_by_lawyers">Status of court hearing supported by lawyers</a></td>
						</tr>
						<tr>
							<td><a href="/all_reports/bail_interim_compensation">Status of court hearing on bail interim compensation & witness protection</a></td>
						</tr>
						<tr>
							<td><a href="/all_reports/bail_application_moved">Bail Application moved where HAQ Lawyer was present</a></td>
						</tr>
						<tr>
							<td><a href="/all_reports/reason_for_adjournments">Reason for Adjournments</a></td>
						</tr>
						
						<tr class="test-report">
							<td>Table 9</td>
						</tr>
						<tr>
							<td><a href="/all_reports/status_as_on">Status as on Dec 2018</a></td>
						</tr>
						<tr>
							<td><a href="/all_reports/rightful_conviction_indicators">Progress on New Rightful Conviction Indicators</a></td>
						</tr>
						<tr class="test-report">
							<td>Annexure-03</td>
						</tr>
						<tr>
							<td><a href="/all_reports/cases_closed_by_lawyers">Cases closed by HAQ lawyers</a></td>
						</tr>
						
						<tr class="test-report">
							<td>Table 11 and 11.1</td>
						</tr>
						<tr>
							<td><a href="/all_reports/status_of_psychosocial">Status of pyschocsocial needs</a></td>
						</tr>
						<tr>
							<td><a href="/all_reports/cases_where_identified">Cases where identified needs could not be met and reasons</a></td>
						</tr>
						
						<tr>
							<td><a href="/all_reports/trial_completed">Case where trial completed</a></td>
						</tr>
						
						
						<tr class="test-report">
							<td>Table 12, 12.1 and 12.2</td>
						</tr>
						<tr>
							<td><a href="/all_reports/status_on_victim_compensation">Status on victim compensation</a></td>
						</tr>
						<tr>
							<td><a href="/all_reports/status_on_financial_needs">Status of victim compensation/financial needs in cases where efforts are ongoing</a></td>
						</tr>
						<tr>
							<td><a href="/all_reports/victim_compensation_disposed">Victim compensation disposed by court</a></td>
						</tr>
						
						<tr class="test-report">
							<td>Table 13, 14</td>
						</tr>
						<tr>
							<td><a href="/all_reports/secondary_psychological_care">Secondary Psychological Care</a></td>
						</tr>
						<tr>
							<td><a href="/all_reports/tertiary_psychological_care">Tertiary Psychological Care</a></td>
						</tr>
						<tr class="test-report">
							<td>Table 15, 16</td>
						</tr>
						<tr>
							<td><a href="/all_reports/list_of_trainings">List of Trainings</a></td>
						</tr>
						<tr class="test-report">
							<td>High Court Case Table</td>
						</tr>
						<tr>
							<td><a href="/all_reports/appeal_in_appellate">Appeal in Appellate Court</a></td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
</div>
