@media only screen and (min-width: 320px) and (max-width: 406px) {
  #search_form{display: none !important;}
  #reports_month_quar {
    visibility: hidden;
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #reports_month_quar {
    visibility: hidden;
    display: none;
  }

  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
  }

  .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
  }

  #dashboard #content table thead th {
    width: 63px !important;
    font-size: 11px !important;
  }

  .small-6 {
    flex: 0 0 50%;
    max-width: 25%;
  }

  body {
    text-align: left !important;
    padding: 10px 15px !important;
  }
  
  .login_panel {
      width: 100%;
      padding: 15px;
  }

  header .sublogo {
    text-indent: 0px;
  }

  .menu.align-right {
    justify-content: flex-start;
  }

  .small-9 {
    flex: 1 1 auto;
    max-width:100%;
  }

  .small-3 {
    flex: 1 1 auto;
    max-width:100%;
  }

  .index_controls_container .row {
    flex-wrap: unset;
  }

  .flex-container {
    display: flex;
    flex-basis: 100%;
  }

  header .menu.simple li {
    flex-shrink: inherit;
    align-items: center;
    justify-content: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    height:30px;
    padding-right: 5px !important;
    padding-top: 5px !important;
    margin-left: 8px !important;
  }

  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0px;
  }

  .h2, h2 {
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  table.dataTable tbody th, table.dataTable tbody td {
    font-size: 0.7rem;
  }

  .index_controls_container .pagination_info, .record_controls_container .pagination_info {
    font-size: .8rem;
  }

  #menu li a span {
    font-size: 0.6125rem !important;
  }
  
  .button-group .button {
    font-size: 0.6125rem !important;
    margin-right: 1px !important;
  }

  #index_filter_form label span {
   text-align: left !important;
  }

  #submit_form_for_monthly_report label {
    text-align: left !important;
  }
  #search_form {
    width: 54%;
    padding: 0px !important;
    margin-bottom: 25px !important;
    height: 30px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) { 

  #reports_month_quar {
    visibility: hidden;
    display: none;
  }

  #submit_form_for_monthly_report label {
    text-align: left !important;
  }
  .container {
    max-width: 100% !important;
  }

  .col-sm-2, .col-sm-3 {
   max-width: 100% !important;
  }

  .form-inline label {
    justify-content: left !important;
  }

   .flex-child-auto {
    margin: 0 auto !important;
  }

  header ul.links li:not(:last-child) {
    padding-right: 12px;
  }


  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
  }

  .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
  }

  #dashboard #content table thead th {
    width: 63px !important;
    font-size: 11px !important;
  }

  .small-6 {
    flex: 0 0 50%;
    max-width: 25%;
  }

  body {
    text-align: left !important;
    padding: 10px 15px !important;
  }
  
  .login_panel {
      width: 100%;
      padding: 15px;
  }

  header .sublogo {
    text-indent: 0px;
  }

  .menu.align-right {
    justify-content: flex-start;
  }

  .small-9 {
    flex: 1 1 auto;
    max-width:100%;
  }

  .small-3 {
    flex: 1 1 auto;
    max-width:100%;
  }

  .index_controls_container .row {
    flex-wrap: unset;
  }

  .flex-container {
    display: flex;
    flex-basis: 100%;
  }

  header .menu.simple li {
    flex-shrink: inherit;
    align-items: center;
    justify-content: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0px;
  }

  .h2, h2 {
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
  }

}

@media only screen and (min-width: 769px) and (max-width: 790px) {

  #reports_month_quar {
    visibility: hidden;
    display: none;
  }

  #submit_form_for_monthly_report label {
    text-align: left !important;
  }
  .small-6 {
    flex: 1 1 auto !important;
    max-width: 100% !important;
  }
  .small-9 {
    flex: 0 0 69% !important;
    max-width: 69% !important;
  }
  .col-sm-2, .col-sm-3 {
    max-width: 100% !important;
   }

}

@media only screen and (min-width: 769px) and (max-width: 992px) { 

  #reports_month_quar {
    visibility: hidden;
    display: none;
  }
 
  .col-sm-2, .col-sm-3 {
    max-width: 100% !important;
   }
  .small-9 {
    flex: 0 0 69% !important;
    max-width: 69% !important;
  }
  .index_controls_container .row {
    flex-wrap: unset !important;
  }
  .index_filters label span {
    width: 5rem  !important;
  }
}

@media only screen and (max-width: 1200px) { 

  #reports_month_quar {
    visibility: hidden;
    display: none;
  }

.col-sm-2, .col-sm-3  {
  max-width: 100% !important;
 }

 .form-inline label {
  justify-content: left !important;
}

}


/*normal media css*/
.row.align-middle.large-up-5 {
	align-items: baseline !important;
}
.flex-child-auto .menu.simple a {
  color: #212529 !important;
}
.row.align-middle {
  margin: 0 auto !important; 
}
.reveal.tiny {
	width: 60% !important; 
}

table.dataTable tbody th, table.dataTable tbody td {
  font-size: 0.875rem !important;
}

nav#main .menu li, nav#main .menu a {
  height: auto;
}
