nav#main {
  position: relative;
  background: $grey_color;
  width: 100%;
  z-index: 9999;
  height: rem_calc(49);

  #search_form {
    .input-group {
      margin-bottom: 0;
      height: rem_calc(49);
    }

    .button {
      height: rem_calc(49);
    }
  }
  
ul > li:hover a > .report_menu {
					display: block;
				}
.report_menu {
				border-radius: 0 0 2px 2px;
				box-shadow: 0 3px 1px rgba(0,0,0,.05);
				display: none;
				font-size: 1rem;
				position: absolute;
				width: 195px;
				background-color:#575757;
			}
			
.report_menu > ul {
					list-style-type: none;
					margin-left:0px;	
				}
				
.report_menu > ul > li {
						margin: 0;
						padding: 0;
						border-left: none !important;
						border-bottom: 1px solid #f9faf6;
					}
					
.report_menu > ul > li > a {
							display: block;	
							font-size: .75rem;
							letter-spacing: 1.5px;
							padding: .25rem 1.5rem;
							text-decoration: none;
							text-transform: uppercase;
						}
						
.report_menu > ul > li:hover > a {
								background-color: #86A05D;
								border-bottom: 1px solid #f9faf6;	
							}
ul > li:hover a + .report_menu {
  display: block;
}


  ul {
    a {
      font-size: .8125rem;
      font-weight: normal;
    }
  }

  .menu {
    height: rem_calc(49);

    li {
      border-right: 1px solid #f9faf6;

      @if $global-text-direction == rtl {
        &:last-of-type {
          border-left: 1px solid #f9faf6;
        }
      } @else {
        &:first-of-type {
          border-left: 1px solid #f9faf6;
        }
      }
    }

    li, a {
      height: rem_calc(49);
    }

    a {
      line-height: rem_calc(17);

      i {
        margin: 0;
      }
    }
  }

  a {
    padding: 1rem !important;
    color: $white_color;
    font-size: .9rem;

    &.current {
      color: $grey_color;
      background: $white_color;
      border-top: 1px solid #ddd;
    }

    i {
      margin-right: 0 !important;
    }

    &:hover {
      color: $white_color;
      background: $green_color;
      text-decoration: none;
    }
  }

  input, button {
    background: $light_grey_color !important;
    border: none !important;
    color: #fff !important;

    &:first-child {
      border-right: 1px solid $desat_green_color;
    }

    &:focus {
      background: $grey_color !important;
    }
  }

  input {
     @if $global-text-direction == rtl {
      border-left: 1px solid #fff !important;
    } @else {
      border-right: 1px solid #fff !important;
    }

  }

  ::-webkit-input-placeholder {
     color: #fff;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #fff;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #fff;
  }

  :-ms-input-placeholder {
     color: #fff;
  }
}
